<div class="heading">
  <h1>FFlopedia</h1>
  <h3>On this page you'll find information about each game in the numbered Final Fantasy Series. There will be a page for info on all side games coming soon!</h3>
</div>