@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&family=Quintessential&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1f1f1f;
  height: 100%;
  color: #fff;
  font-family: "Lato", sans-serif;
}

/* Heading */

.banner {
  padding: 30px 0;
  color: white;
  background-color: black;
}

.banner h1 {
  text-align: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to left, #a1a1a1, #d3d3d3);
  padding: 16px 0;
  margin: 0;
}

.logo {
  padding-left: 15px;
  float: left;
  color: #000;
}

nav li {
  display: inline;
  color: white;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

a {
  text-decoration: none;
  padding: 16px 14px 17px 14px;
  font-size: 17px;
  color: #000;
}

@media (max-width: 480px) {
  /* mobile */
}
@media (max-width: 768px) {
  /* tablets */
}
@media (max-width: 768px) {
  /* laptops */
}
@media (max-width: 1200px) {
  /* desktops */
}
