@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&family=Quintessential&display=swap");

.login-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.heading {
  font-family: "Quintessential", sans-serif;
  text-align: center;
}

.login {
  text-align: center;
  padding: 0 30px;
}

button {
  padding: 6px 14px;
  font-family: "Quintessential", sans-serif;
}

.join-btn {
  background-color: #fff;
  margin-right: 10px;
}

.login-btn {
  background-color: #4e4e4e;
  border: 1px solid #fff;
  margin-left: 10px;
}

.login-btn a {
  color: #fff;
}

/* Media Quaries */

@media (max-width: 480px) {
  /* mobile */
}
@media (max-width: 768px) {
  /* tablets */
}
@media (max-width: 768px) {
  /* laptops */
}
@media (max-width: 1200px) {
  /* desktops */
}
