@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&family=Quintessential&display=swap");

* {
  box-sizing: border-box;
}

.heading {
  font-family: "Quintessential", sans-serif;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login {
  text-align: center;
  padding: 0 30px;
}

button {
  padding: 6px 14px;
  font-family: "Quintessential", sans-serif;
}

.join-btn {
  background-color: #fff;
  margin-right: 10px;
}

.login-btn {
  background-color: #4f4f4f;
  border: 1px solid #fff;
  margin-left: 10px;
}

.login-btn a {
  color: #fff;
} 

.left-half {
  background-color: #494949;
  float: left;
  width: 50%;
  height: 100%;
}

.right-half {
  background-color: black;
  float: left;
  width: 50%;
  height: 100%;
}

html, body, section, div {
  height: 100%;
}

section {
  width: 100%;
}

article {
  position: relative;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}


/* Pattern styles */
.left-half {
  background-color: #202020;
  float: left;
  width: 50%;
}
.right-half {
  background-color: #000;
  float: left;
  width: 50%;
}

/* Media Quaries */

@media (max-width: 480px) {
  /* mobile */
}
@media (max-width: 768px) {
  /* tablets */
}
@media (max-width: 768px) {
  /* laptops */
} */
